@import "../../../styles/vars.scss";
@import "../../../styles/template.scss";

.checkout-page-sample {
  flex-grow: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media (max-width: $laptop-s) {
    padding: 30px;
  }
  @media (max-width: $phone-l) {
    padding: 20px 10px;
  }
  &__link-to-home {
    margin-bottom: 30px;
    @include sample(200px, 50px, 10px);
  }
  &__img-form-wrapper {
    max-width: 684px;
    width: 100%;
    min-height: 440px;
    display: flex;
    border-radius: 24px;
    @media (max-width: $tablet-l) {
      max-width: 342px;
    }
    .checkout-page-sample__img-wrapper {
      @include sample(338px, 440px, 24px);
      border-radius: 24px 0 0 24px;
      @media (max-width: $tablet-l) {
        display: none;
      }
    }
    .checkout-page-sample__form-wrapper {
      flex: 1;
      padding: 24px;
      background-color: $color-white;
      border-radius: 0 24px 24px 0;
      display: flex;
      @media (max-width: $tablet-l) {
        border-radius: 24px;
      }
      .checkout-page-sample__form {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .checkout-page-sample__form-headline {
          margin-bottom: 16px;
          @include sample(108px, 33px, 10px);
        }
        .checkout-page-sample__real-name-input,
        .checkout-page-sample__phone-input {
          margin-bottom: 8px;
          @include sample(294px, 41px, 10px);
        }
        .checkout-page-sample__radio-group-wrapper {
          margin-bottom: 8px;
          padding-block: 8px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          row-gap: 12px;
          .checkout-page-sample__pickup-wrapper {
            display: flex;
            align-items: center;
            column-gap: 8px;
            .checkout-page-sample__pickup-radio-btn {
              @include sample(15px, 15px, 100%);
              width: 15px;
            }
            .checkout-page-sample__pickup-radio-label {
              @include sample(74px, 19px, 10%);
              width: 74px;
            }
          }
          .checkout-page-sample__delivery-wrapper {
            display: flex;
            align-items: center;
            column-gap: 8px;
            .checkout-page-sample__delivery-radio-btn {
              @include sample(15px, 15px, 100%);
              width: 15px;
            }
            .checkout-page-sample__delivery-radio-label {
              @include sample(62px, 19px, 10%);
              width: 74px;
            }
          }
        }
      }
    }
  }
}
