@import "../../styles/vars.scss";
@import "../../styles/template.scss";

.food-item-info {
  flex-grow: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media (max-width: $phone-l) {
    padding: 20px 10px;
  }
  &__link-to-home {
    margin-bottom: 30px;
    text-align: center;
    color: $color-orange;
    font-family: $font;
    font-size: 36px;
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
    }
    &_disabled {
      color: $color-dark-gray;
    }
  }
  &__error-headline {
    margin-bottom: 30px;
    font-family: $font;
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    color: $color-red;
    word-break: break-word;
  }
  &__img {
    margin-bottom: 20px;
    width: 552px;
    height: 440px;
    border-radius: 12px;
    @media (max-width: $tablet-l) {
      width: 276px;
      height: 220px;
    }
  }
  &__text-wrapper {
    margin-bottom: 30px;
    display: grid;
    justify-items: start;
    align-items: center;
    row-gap: 15px;
    column-gap: 30px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: $tablet-l) {
      justify-items: center;
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: repeat(1, 1fr);
    }
    .food-item-info__label-label,
    .food-item-info__price-label,
    .food-item-info__weight-label {
      justify-self: end;
      text-align: end;
      color: $color-dark-yellow;
      font-family: $font;
      font-size: 36px;
      @media (max-width: $tablet-l) {
        justify-self: auto;
        text-align: center;
      }
    }
    .food-item-info__label,
    .food-item-info__price,
    .food-item-info__weight {
      text-align: start;
      color: $color-orange;
      font-family: $font;
      font-size: 36px;
      font-weight: 600;
      @media (max-width: $tablet-l) {
        text-align: center;
      }
    }
  }
  &__add-form {
    padding: 30px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    border-radius: 18px;
    .food-item-info__add-headline {
      margin-bottom: 20px;
      color: $color-black;
      font-family: $font;
      font-size: 28px;
      font-weight: 600;
    }
    .food-item-info__number-input {
      margin-bottom: 20px;
      padding-inline: 10px;
      max-width: 80px;
      width: 100%;
      height: 40px;
      color: $color-black;
      font-family: $font;
      font-size: 18px;
      line-height: 20px;
      border-radius: 10px;
      border: 1px solid $color-dark-gray;
      background: white;
    }
    .food-item-info__error-text {
      margin-bottom: 20px;
      text-align: center;
      color: $color-red;
      font-family: $font;
      font-size: 20px;
    }
    .food-item-info__whole-price-label {
      margin-bottom: 20px;
      color: $color-black;
      font-family: $font;
      font-size: 28px;
    }
    .food-item-info__whole-price {
      margin-bottom: 20px;
      color: $color-black;
      font-family: $font;
      font-size: 28px;
      font-weight: 600;
    }
    .food-item-info__sumbit-btn {
      align-self: center;
      max-width: 270px;
      width: 100%;
      padding: 12px 70px;
      color: $color-white;
      font-family: $font;
      font-size: 16px;
      border-radius: 12px;
      background-color: $color-orange;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
      }
      &:disabled {
        transform: none;
        filter: grayscale(0.5);
      }
    }
    .food-item-info__server-error-text {
      margin-top: 20px;
      text-align: center;
      color: $color-red;
      font-family: $font;
      font-size: 20px;
      word-break: break-word;
    }
  }
}
