@import "./vars.scss";

// This class is needed to hide elements (by adding this class)
.hidden-element {
  display: none !important;
}

// This class is needed to make elements appear (by adding this class)
.appeared-flex {
  display: flex !important;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.flex-row-reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.flex-column-reverse {
  flex-direction: column-reverse;
  justify-content: flex-end;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

%default-input {
  padding-inline: 20px;
  max-width: 300px;
  width: 100%;
  height: 40px;
  color: $color-black;
  font-family: $font;
  font-size: 18px;
  line-height: 20px;
  border-radius: 10px;
  border: 1px solid $color-dark-gray;
  background: white;
  &::placeholder {
    color: $color-dark-gray;
  }
}

%default-form {
  max-width: 400px;
  width: 100%;
  padding: 20px 40px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-dark-yellow;
  @media (max-width: $phone-l) {
    padding: 10px 20px 20px;
  }
}

@mixin checkout-input($max-width) {
  margin-bottom: 8px;
  padding: 12px;
  max-width: $max-width;
  width: 100%;
  color: $color-black;
  font-family: $font;
  font-size: 12px;
  line-height: 130%;
  border-radius: 12px;
  border: 1px solid $color-gray;
  background: $color-white;
  &::placeholder {
    color: $color-dark-gray;
  }
}

@mixin sample($max-width, $height, $border-radius) {
  max-width: $max-width;
  width: 100%;
  height: $height;
  background-color: $color-sample;
  border-radius: $border-radius;
  animation: pulse 1.5s ease-in-out 0.5s infinite;
}

@mixin loader($color) {
  --size: 40px;
  --color: #{$color};
  --animation-timing-function: linear;
  --animation-duration: 2s;
  width: var(--size);
  height: var(--size);
  mask-image: radial-gradient(
    circle at 50% 50%,
    transparent calc(var(--size) / 4),
    black calc(var(--size) / 4)
  );
  background-image: conic-gradient(
    from 0deg,
    var(--color) 0deg,
    var(--color) 10deg,
    transparent 10deg,
    transparent 30deg,
    var(--color) 30deg,
    var(--color) 50deg,
    transparent 50deg,
    transparent 70deg,
    var(--color) 70deg,
    var(--color) 90deg,
    transparent 90deg,
    transparent 110deg,
    var(--color) 110deg,
    var(--color) 130deg,
    transparent 130deg,
    transparent 150deg,
    var(--color) 150deg,
    var(--color) 170deg,
    transparent 170deg,
    transparent 190deg,
    var(--color) 190deg,
    var(--color) 210deg,
    transparent 210deg,
    transparent 230deg,
    var(--color) 230deg,
    var(--color) 250deg,
    transparent 250deg,
    transparent 270deg,
    var(--color) 270deg,
    var(--color) 290deg,
    transparent 290deg,
    transparent 310deg,
    var(--color) 310deg,
    var(--color) 330deg,
    transparent 330deg,
    transparent 350deg,
    var(--color) 350deg,
    var(--color) 360deg
  );
  border-radius: 50%;
  transform: rotate(0deg);
  animation: var(--animation-timing-function) var(--animation-duration) infinite
    loader;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
