@import "../../styles/vars.scss";
@import "../../styles/template.scss";

.loader {
  margin-bottom: 20px;
  --size: 40px;
  --color: #fff;
  --animation-timing-function: linear;
  --animation-duration: 2s;
  width: var(--size);
  height: var(--size);
  mask-image: radial-gradient(
    circle at 50% 50%,
    transparent calc(var(--size) / 4),
    black calc(var(--size) / 4)
  );
  background-image: conic-gradient(
    from 0deg,
    var(--color) 0deg,
    var(--color) 10deg,
    transparent 10deg,
    transparent 30deg,
    var(--color) 30deg,
    var(--color) 50deg,
    transparent 50deg,
    transparent 70deg,
    var(--color) 70deg,
    var(--color) 90deg,
    transparent 90deg,
    transparent 110deg,
    var(--color) 110deg,
    var(--color) 130deg,
    transparent 130deg,
    transparent 150deg,
    var(--color) 150deg,
    var(--color) 170deg,
    transparent 170deg,
    transparent 190deg,
    var(--color) 190deg,
    var(--color) 210deg,
    transparent 210deg,
    transparent 230deg,
    var(--color) 230deg,
    var(--color) 250deg,
    transparent 250deg,
    transparent 270deg,
    var(--color) 270deg,
    var(--color) 290deg,
    transparent 290deg,
    transparent 310deg,
    var(--color) 310deg,
    var(--color) 330deg,
    transparent 330deg,
    transparent 350deg,
    var(--color) 350deg,
    var(--color) 360deg
  );
  border-radius: 50%;
  transform: rotate(0deg);
  animation: var(--animation-timing-function) var(--animation-duration) infinite
    loader;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
