@import "../../styles/vars.scss";
@import "../../styles/template.scss";

.home {
  padding: 40px 75px 100px;
  @media (max-width: $phone-l) {
    padding: 20px 30px 50px;
  }
  @media (max-width: $phone-m) {
    padding-inline: 10px;
  }
  &__categories-list {
    margin-bottom: 50px;
  }
  &__food-headline {
    padding-left: 340px;
    margin-bottom: 24px;
    color: $color-black;
    font-family: $font;
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    @media (max-width: $pc-s) {
      padding-left: 0;
      text-align: center;
    }
  }
  &__basket-menu-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    @media (max-width: $pc-s) {
      flex-direction: column-reverse;
    }
    .home__menu-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      row-gap: 30px;
      column-gap: 20px;
    }
  }
}
