@import "../../styles/vars.scss";
@import "../../styles/template.scss";

.basket {
  display: flex;
  flex-direction: column;
  padding: 24px 10px;
  max-width: 320px;
  width: 100%;
  max-height: 1200px;
  background-color: $color-white;
  border-radius: 18px;
  @media (max-width: $pc-s) {
    max-width: none;
    max-height: 850px;
  }
  @media (max-width: $phone-l) {
    max-height: 500px;
    padding: 12px 8px;
  }
  &__headline-amount-wrapper {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .basket__headline {
      color: $color-black;
      font-family: $font;
      font-size: 24px;
      font-weight: 600;
    }
    .basket__total-amount {
      padding: 2px 17px;
      color: $color-black;
      font-family: $font;
      font-size: 12px;
      background-color: $color-gray;
      border-radius: 6px;
    }
  }
  &__clear-all-btn {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    padding: 12px;
    color: $color-black;
    font-family: $font;
    font-size: 16px;
    border-radius: 12px;
    background-color: $color-gray;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
    }
    .basket__clear-all-btn-img {
      width: 20px;
      height: 20px;
    }
    .basket__clear-all-text {
      color: $color-black;
      font-family: $font;
      font-size: 16px;
    }
  }
  &__items-list {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__empty-basket-label {
    color: $color-black;
    font-family: $font;
    font-size: 16px;
    padding-block: 15px;
    border-top: 1px solid $color-gray;
    border-bottom: 1px solid $color-gray;
  }
  &__whole-price-wrapper {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    .basket__price-label,
    .basket__price {
      color: $color-black;
      font-family: $font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
  }
  &__checkout-btn {
    align-self: center;
    margin-bottom: 8px;
    max-width: 270px;
    width: 100%;
    padding: 12px 70px;
    color: $color-white;
    font-family: $font;
    font-size: 16px;
    border-radius: 12px;
    background-color: $color-orange;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__free-delivery-label-wrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;
    .basket__free-delivery-text {
      color: $color-black;
      font-family: $font;
      font-size: 12px;
    }
  }
}
