@import "../../../styles/vars.scss";
@import "../../../styles/template.scss";

.password-input {
  @extend %default-input;
  &_mb10 {
    margin-bottom: 10px;
  }
  &_mb20 {
    margin-bottom: 20px;
  }
  &_mb30 {
    margin-bottom: 30px;
  }
}
