@import "../../styles/vars.scss";
@import "../../styles/template.scss";

.header {
  position: relative;
  padding: 22px;
  background-image: url(../../images/header/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  &__burger-menu-btn {
    position: absolute;
    z-index: 3;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    display: none;
    transition: 0.3s;
    @media (max-width: $tablet-l) {
      display: inline-block;
    }
    @media (max-width: $phone-l) {
      top: 10px;
      right: 10px;
    }
    &_open {
      background: url(../../images/header/burger-bar.png);
      background-size: cover;
    }
    &_close {
      position: fixed;
      background: url(../../images/header/white-cross.png);
      background-size: cover;
    }
  }
  &__sign-in-wrapper {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: $color-dark-yellow;
    display: flex;
    align-items: center;
    column-gap: 30px;
    @media (max-width: $pc-s) {
      top: 10px;
      right: 10px;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 20px;
    }
    @media (max-width: $tablet-l) {
      display: none;
    }
    .header__curr-user-wrapper {
      display: flex;
      align-items: center;
      column-gap: 10px;
      .header__curr-user-text {
        color: $color-white;
        font-family: $font;
        font-size: 24px;
        font-weight: 600;
      }
      .header__curr-user-image {
        width: 50px;
        height: 50px;
        background-size: cover;
        border: none;
      }
    }
    .header__sign-in-btn-wrapper {
      display: flex;
      align-items: center;
      column-gap: 10px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
      .header__sign-in-text {
        color: $color-white;
        font-family: $font;
        font-size: 24px;
        font-weight: 600;
      }
      .header__sign-in-image {
        width: 50px;
        height: 50px;
        background-size: cover;
        border: none;
      }
    }
  }
  &__logo-wrapper {
    margin-bottom: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
  }
  &__main-headline-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    .header__burger-img {
      padding: 27px 36px 9px;
      @media (max-width: $tablet-l) {
        display: none;
      }
    }
    .header__headline-text-wrapper {
      padding-top: 45px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @media (max-width: $tablet-l) {
        text-align: center;
        padding-top: 0;
      }
      .header__main-headline {
        margin-bottom: 50px;
        max-width: 440px;
        color: $color-white;
        font-family: $font;
        font-size: 50px;
        line-height: 120%;
        font-weight: 800;
        &_orange {
          color: $color-orange;
        }
      }
      .header__free-delivery-text {
        color: $color-white;
        font-family: $font;
        font-size: 16px;
        &_bold {
          font-weight: 600;
        }
      }
    }
  }
}
