@import "../../styles/vars.scss";
@import "../../styles/template.scss";

.app {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-light-gray;
  &__main {
    flex-grow: 1;
  }
}
