@import "../../../../styles/vars.scss";
@import "../../../../styles/template.scss";

.category-item {
  display: flex;
  align-items: center;
  padding: 8px 14px;
  column-gap: 8px;
  border-radius: 50px;
  background: $color-white;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: $color-dark-yellow;
    transform: scale(1.1);
  }
  &__label {
    color: $color-black;
    font-family: $font;
    font-size: 16px;
  }
  &_active {
    background: $color-dark-yellow;
  }
}
