@import "../../styles/vars.scss";
@import "../../styles/template.scss";

.sign-up {
  padding: 50px;
  display: flex;
  justify-content: center;
  @media (max-width: $phone-l) {
    padding: 10px;
  }
}
