@import "../../../styles/vars.scss";
@import "../../../styles/template.scss";

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
  @media (max-width: $pc-m) {
    justify-content: center;
  }
}
