@import "../../styles/vars.scss";
@import "../../styles/template.scss";

.error {
  flex-grow: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media (max-width: $phone-l) {
    padding: 20px 10px;
  }
  &__headline {
    margin-bottom: 30px;
    color: $color-orange;
    font-family: $font;
    font-size: 48px;
    font-weight: 600;
  }
  &__text {
    margin-bottom: 30px;
    color: $color-dark-yellow;
    font-family: $font;
    font-size: 36px;
  }
  &__link-to-home {
    text-align: center;
    color: $color-orange;
    font-family: $font;
    font-size: 36px;
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
}
